@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  line-height: 32px;
}
body{
    /* background-image: url('../imgs/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 8193px;
    width: 1440px; */background-color: #464646;
}
.borderDiv{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: 2px solid lawngreen;
    border-radius: 25px;
    transform: perspective(75em) rotateY(-20deg) rotateZ(4deg);
}
.div1{
    height: 100%;
    width: 100%;
    background-color: #12FED9;
    border-radius: 25px;
    transform: perspective(75em) rotateY(0deg) rotateZ(-4deg);
}
.innerDiv{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#mintbg{
  clip-path: polygon(0 11%, 100% 3%, 100% 100%, 0 97% );
}
#divImg{
  height: 100px;
  width: 100px;
}
@media (min-width: 640px) {
 
}
details[open] summary ~ * {
    animation: open 0.3s ease-in-out;
  }
  @keyframes open {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  details summary::-webkit-details-marker {
    display: none;
  }
  
  details summary {
    width: 350px;
    padding: 0.5rem 20px;
    position: relative;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 300;
    list-style: none;
    background: #07071b;
    border-radius: 5px;
  }
  
  details summary:after {
    content: "+";
    color: #12FED9;
    font-size: 1.75rem;
    line-height: 0.2;
    margin-top: 0.75rem;
    font-weight: 200;
    transform-origin: center;
    transition: 200ms linear;
    float: right;
  }
  details[open] summary:after {
    transform: rotate(45deg);
    line-height: 0.2;
    font-size: 2rem;
  }
  details{
    margin-bottom: 10px;
  }
  details p {
    width: 350px;
    font-size: 0.90rem;
    margin: 0 0 1rem;
    padding: 1rem 20px;
    background: #2a2a2a;
    border-radius: 0 0 8px 8px;
  }
  @media (min-width: 640px){
    #divImg{
      height: 180px;
      width: 180px;
    }
    details summary {
      width: 600px;
    }
    details p {
      width: 600px;
    }
  }
  @media (min-width: 1024px) {
    #divImg{
      height: 140px;
      width: 140px;
    }
    details summary {
      width: 850px;
    }
    details p {
      width: 850px;
    }
  }